$buttonColor:#fe5f1e;


.button {
  display:flex;
  justify-content: space-between;
  background-color: $buttonColor;
  border-radius: 30px;
  padding: 10px 15px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  transition:  0.5s all ease;

  &,
  span {
    font-weight: 700;
    margin-right: 10px;
    color: #fff;
    i{
      padding: 0 8px;
      border:1px solid white;
      border-radius: 25px;
      background-color: white;
      color:$buttonColor;
    }
  }
}

.button:hover{
  background-color:#fff;
  border:1px solid $buttonColor;
  span{
    color:$buttonColor
  }
  i{
    border:1px solid $buttonColor;
    background-color:$buttonColor;
    border-radius: 50%;
    color:#fff
  }
 
  
}

.button, 
.button:active, 
.button:focus {
    outline: none;
}

@media (max-width: 685px){

  .button {
    min-width: 225px;
  }
  
}