.content {
  padding:  40px ;
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.container{
  width: 95%;
  margin: 0 auto;
}

.title{
 padding: 20px 0;
}
.wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
  grid-gap: 15px;
  margin-top: 25px;
}


@media (max-width: 1250px){
  .content__top{
    justify-content: center;
  }
}

@media (max-width: 685px){
  .wrapper{
    margin-left: 17%;
  }
}